apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "1"
    creationTimestamp: "2026-01-03T05:17:29Z"
    generation: 1
    labels:
      domain_id: domain-af00a9336108
      plugin_id: plugin-aws-ec2-inven-collector
      resource_type: inventory.Collector
      supervisor_name: root
      version: 1.0.36
    name: plugin-aws-ec2-inven-collector-rrzecgirtquoetbl
    namespace: cloudforet-plugin
    resourceVersion: "8093"
    uid: ece87d61-cbaf-4c1d-976f-35e7c2b5da43
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        domain_id: domain-af00a9336108
        plugin_id: plugin-aws-ec2-inven-collector
        resource_type: inventory.Collector
        supervisor_name: root
        version: 1.0.36
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        labels:
          domain_id: domain-af00a9336108
          plugin_id: plugin-aws-ec2-inven-collector
          resource_type: inventory.Collector
          supervisor_name: root
          version: 1.0.36
        name: plugin-aws-ec2-inven-collector-rrzecgirtquoetbl
      spec:
        containers:
        - image: registry.hub.docker.com/cloudforet/plugin-aws-inven-collector:1.0.36
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 50051
            timeoutSeconds: 1
          name: plugin-aws-ec2-inven-collector-rrzecgirtquoetbl
          ports:
          - containerPort: 50051
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-03T05:17:55Z"
      lastUpdateTime: "2026-01-03T05:17:55Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2026-01-03T05:17:29Z"
      lastUpdateTime: "2026-01-03T05:17:55Z"
      message: ReplicaSet "plugin-aws-ec2-inven-collector-rrzecgirtquoetbl-5c75566dc5"
        has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
